{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block extra_head %}

<style type="text/css" media="screen">
	#main #header h1 {
    color: #0061A5;
    display: block;
    font: 72px 'TeXGyreScholaBold',Arial,sans-serif;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px #F7F7F7;
}
</style>
{% endblock %}


{% block content %}

<div id="main">
    <header id="header">
      <h1><span class="icon">!</span>500</h1>
      <h1><span class="sub">服务器出了问题   :-(</span></h1>
    </header>
    
    
</div>            
{% endblock %} 


